// Variables
@import 'variables';

// UIKit
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";
@import "uikit/src/scss/uikit-theme.scss";

html {
    font-family: proxima-nova, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    background: #fff;
    color: #666;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.main {
    min-height: calc(100vh - 120px);
}

.main, .footer {
    background-color: $main-background;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.top-content {
    position: relative;
    overflow: hidden;
}

.top-content-background {
    background: rgba(0, 0, 0, 0.4) url('../img/blocks.jpg');
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    filter: blur(5px) hue-rotate(185deg) saturate(65%);
    transform: scale(1.1);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.top-content-container {
    position: relative;
    padding: 100px 0 100px 0;
    height: 300px;
    z-index: 1;
}

.svg-overlay {
    position: absolute;
    width: calc(100%);
    bottom: 0px;
}

.article {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;
}

.article:last-of-type {
    border-bottom: none;
}

form {
    margin: unset;
}

.laraberg__editor {
    width: unset;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.space-between {
    justify-content: space-between;
}

.inline {
    display: inline-block;
}

.center-items {
    align-items: center;
}

.uk-card-title {
    a {
        color: black;
    }
}

.align-icon {
    line-height: 1;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pagination {
    @extend .uk-pagination;
    @extend .uk-flex-center;

    .page-item:first-of-type {
        .page-link {
            font-size: 26px;
            font-weight: 200;
            line-height: 0.7;
        }
    }

    .page-item:last-of-type {
        .page-link {
            font-size: 26px;
            font-weight: 200;
            line-height: 0.7;
        }
    }

    .page-item.active {
        @extend .uk-active;
    }

    .page-item.disabled {
        @extend .uk-disabled;
    }
}

.side-nav-panel {
    height: 100%;
}

.article-excerpt {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 1.5em;
    max-height: 4.5em;
}
